
/******************HEADER**********************/
#header{
    border:1.5px solid #2C3554;
    padding-top: 65px;
    padding-bottom: 35px;
    background-color:#151B2D;
}

#header h4{
    font-size: 35px;
    color: white;
    padding-bottom: 20px;
    padding-left: 15px;
}

#header Button{
    font-size: 18px;
    color: white;
    border: 1px solid white;
}

/******************BOOKSHELVES**********************/
#topbookshelves{
    
    padding-top: 20px;
    padding-bottom: 45px;
    background-color: white;
    /* border-top:1.5px solid #2C3554;
    border-bottom:1.5px solid #2C3554; */
}

#topbookshelves div div h2 a{
    
    padding-top: 15px;
    padding-bottom: 15px;

    color: #151B2D;
}

/**************RECOMMENDED BOOKS**********************/
#recommend_books{
    /* border-left:1.5px solid #2C3554; */
    /* border-right:1.5px solid #2C3554; */
    
    /* border-bottom:1.5px solid #2C3554; */
    padding-bottom: 30px;
    background-color: white;
}

/**************RECENT ACTIVITIES******************/
#recent_activities{
    border:1.5px solid #2C3554;
    background-color: white;
}

#recent_activities h4{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 13px;
    background-color: #2C3554;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

/**************OTHERS******************/
#others{
    padding-top: 25px;
    padding-bottom: 15px;
}


