/*************BOOKSHELVES****************/
html,body {
    height: 100%;
  }
  
#Genres{
    border-left:1.5px solid #151B2D;
    border-right:1.5px solid #151B2D;

}

#genrelist{

} 

genrelist list-group-item{

}

