#module {
    font-size: 1rem;
    line-height: 1.5;
  }
  
#module #collapseExample.collapse:not(.show) {
    display: block;
    height: 8rem;
    overflow: hidden;
}

#module #collapseExample.collapsing {
    height: 3rem;
}

#module a.collapsed::after {
    content: '+ Show More';
}

#module a:not(.collapsed)::after {
    content: '- Show Less';
}

.btn-outline-primary {
    color: #151B2D;
    background-color: #fff;
    border-color: #151B2D; 
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .open>.dropdown-toggle.btn-outline-primary {
    color: #fff;
    background-color: #151B2D;
    border-color: #151B2D; 
}